header nav a img {
    margin-right: 10px;
}

.m10 {
    margin-top: 15px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-footer-inner {
    width: 80px;
}

.btn {
    width: 150px;
}

.category {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid transparent;
    margin-top: 10px;
    cursor: pointer;
}

.category > a > .fas {
    font-size: 2rem;
    width: 35px;
    text-align: center;
}

.category > a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.category:hover {
    border: 1px solid black;
}

.category > a > div {
    margin-left: 10px;
}

@media (max-width: 900px) {
    .search-column {
        flex-direction: column;
    }

    .form-inline .custom-select, .form-inline .input-group {
        width: 100%;
    }

    .col {
        padding-right: 0;
        padding-left: 0;
    }

    .btn {
        width: 100%;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .navbar-text {
        flex-direction: column;
    }
}
